<nav>
        <a href="/" class="nav-link">Home</a>
    <a href="/" class="nav-brand">
        Wrestling Cards
        <ul class="nav">
        <% if (authorized) { %>
            <li class="nav-link">
                <a href="/rawdeal/goldfish">Raw Deal</a>
            </li>
            <li class="nav-link">
                <a href="/rawdeal/decks">Decks</a>
            </li>
            <li class="nav-link">
                <a href="/games">Chess</a>
            </li>
            <li class="nav-link">
                <a href="/my-stats">My Stats</a>
            </li>
            <li class="nav-link">
                <a href="/profile">Profile</a>
            </li>
        <% } else { %>
            <li class="nav-link">
                <a href="/register">Register</a>
            </li>
            <li class="nav-link">
                <a href="/login">Login</a>
            </li>
        <% } %>
        </ul>
    </a>
</nav>